<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">L'Idea del Progetto</h2>
                <hr class="light">
                <p class="text-faded">Questo progetto nasce come un'attività di ricerca nell'ambito del corso di Human-Computer Interaction. L'idea è di investigare il fenomeno dello spreco alimentare domestico, con un'attenzione particolare ai contesti di convivenza, come quelli abitati da studenti universitari e giovani lavoratori.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
