<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 style="background-color: #e5e0d8;"><span style="color: #2d4f2b;">Sort</span><span style="color: #708a58;">Eat</span></h1>
            <hr>
            <p>SortEat è il nostro progetto di HCI, un prototipo di un'applicazione che ti permette di gestire la dispensa alimentare tra coinquilini.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Scopri di più</a>
        </div>
    </div>
</header>
